*{
    margin: 0;
    padding: 0;
   }
    
    
    /* Estilo para o cabeçalho */
    header {
       background-color: #7CAABA; /* Cor de fundo do cabeçalho */
       height: 100px; /* Altura do cabeçalho */
       width: 100%; /* Largura total */
       display: flex; /* Exibe os elementos em linha */
       justify-content: center; /* Centraliza os elementos horizontalmente */
       align-items: center; /* Centraliza os elementos verticalmente */
   }
   
   /* Texto nome da escola */
   #nome-escola{
       font-family: "Livvic", sans-serif;
       font-weight: 700;
       font-style: normal;
       font-size: 2.4vh;
   }
#logo {
    width: 70px;
    height: 80px;
}

.div-comunicados{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Livvic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4vh;
}

.comunicados {
    display: flex;
    align-items: center;
    justify-items: center;
    font-family: "Livvic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4vh;

}



main {
    margin-top: 10vh;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    justify-content: center;
  
}

.card {
    background-color: white;
    border: 1px solid #7CAABA;
    border-radius: 8px;
  padding: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    /* Largura fixa */
    height: 350px;
    /* Altura fixa */
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.card h3 {
    margin: 0 0 8px;
    background-color: #7CAABA;
    border-radius: 6px;
    height: 4vh;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Livvic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2vh;

}

.card .descricao {
    display: flex;
    margin-top: 2vh;


}


/* Estilos para o contêiner de data e horário */
.date-time-container {
    display: flex;
    justify-content: space-between;
    /* Espaça a data e o horário */
    margin-top: auto;
    /* Mantém no final do card */
}

/* Estilos para a data */
.date-time-container .data {
    margin-right: 8px;
    /* Espaçamento entre data e horário */
}

/* Estilos para o horário */
.date-time-container .horario {
    margin-left: 8px;
    /* Espaçamento entre data e horário */
}